<div class="top">
    <h1>Nice</h1>
    <h1>Nice</h1>
    <h1>JPG!</h1>
</div>

<div class="bottom">
    <div class="header">The only image placeholder service on the web bringing you nothing but Vanilla Ice jpgs. You're welcome.</div>
    <div class="examples">Examples:</div>
    <div class="example">
        <div class="header"><a href="http://nicenicejpg.com/600/400" target="_blank">http://nicenicejpg.com/600/400</a></div>
        <div class="description">Standard placeholder behavior: The first parameter represents the width, the second parameter is the height. This URL will return a 600-pixel-wide by 400-pixel-tall picture of Mr. Van Winkle.</div>
    </div>
    <div class="example">
        <div class="header"><a href="http://nicenicejpg.com/350" target="_blank">http://nicenicejpg.com/350</a></div>
        <div class="description">Returns a square image of Vanilla with width and height of 350 pixels.</div>
    </div>
    <div class="example">
        <div class="header"><a href="http://nicenicejpg.com/5.0/300/200" target="_blank">http://nicenicejpg.com/5.0/300/200</a></div>
        <div class="description">A special treat: Preface the width and height with "5.0" to switch into "Early 90's Mustang" mode.</div>
    </div>
</div>

<div class="footer">
    <div class="content">
        <div class="github"><iframe src="http://ghbtns.com/github-btn.html?user=AsheAvenue&repo=NiceNiceJPG&type=watch&count=true&size=large"
          allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://nicenicejpg.com" data-via="AsheAvenue" data-size="large" data-dnt="true">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fnicenicejpg.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;font=tahoma&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=271198822968877" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
        </div>
        <div class="copyright">&copy; 2013 <a href="http://www.asheavenue.com/" target="_blank">Ashe Avenue</a></div>
    </div>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4633345-24']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>