<div class="top">
    <h1>Nice</h1>
    <h1>Nice</h1>
    <h1>JPG!</h1>
</div>

<div class="bottom">
    <div class="header">The only image placeholder service on the web bringing you nothing but Vanilla Ice jpgs. You're welcome.</div>
    <div class="examples">Examples:</div>
    <div class="example">
        <div class="header">http://nicenicejpg.com/600/400</div>
        <div class="description">Standard placeholder behavior: The first parameter represents the width, the second parameter is the height. This URL will return a 600-pixel-wide by 400-pixel-tall picture of Mr. Van Winkle.</div>
    </div>
    <div class="example">
        <div class="header">http://nicenicejpg.com/350</div>
        <div class="description">Returns a square image of Vanilla with width and height of 350 pixels.</div>
    </div>
    <div class="example">
        <div class="header">http://nicenicejpg.com/5.0/300/200</div>
        <div class="description">A special treat: Preface the width and height with "5.0" to switch into "Early 90's Mustang" mode.</div>
    </div>
</div>

<div class="footer">
    <div class="content">
        <div class="github"><a href="http://github.com/AsheAvenue/NiceNiceJPG" target="_blank">Get the code on GitHub</a></div>
        <div class="copyright">&copy; 2013 <a href="http://www.asheavenue.com/" target="_blank">Ashe Avenue</a></div>
    </div>
</div>