<!DOCTYPE html>
<html>
<head>
  <title>Nice Nice JPG</title>
  <meta property="og:title" content="Nice Nice JPG"/>
  <meta property="og:url" content="http://nicenicejpg"/>
  <meta property="og:image" content="http://nicenicejpg/ice.jpg"/>
  <meta property="og:site_name" content="Nice Nice JPG"/>
  <meta property="og:description"
        content="The only image placeholder service on the web bringing you nothing but Vanilla Ice jpgs. You're welcome."/>
                     
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="icon" href="/favicon.ico" type="image/ico" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
  <script type="text/javascript" src="//use.typekit.net/mub8ljb.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div class="ashe" style="position: absolute; right: 0px; top: 0px;">
    <a href="http://www.asheavenue.com/" target="_blank"><img src="/ashe.png"></a>
</div>

</body>
</html>
